<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/anifa.png" alt="Foto Anifa Aulia" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Anifa Aulia</h1>
      <p class="lead">Peserta Bootcamp</p>
    </div>
  </div>
</div>
